body { 
    width: 100%; 
    height: 100%;
}

.cy-panzoom {
    z-index: 1000 !important;
}

#sbgn-network-container {
    margin: auto;
    border: 1px solid #ddd;
    height: 680px;
    width: 800px;
    overflow: hidden;
}

#main {
    width: 50%;
    margin: 0 auto;
    font-family: Arial;
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}

a:link {
    text-decoration: none;
}
